@model Polar.Models.LoginModel

<h2>Login POLAR</h2>

@if (ViewBag.Message != null)
{
    <div style="padding:10px; margin-bottom:15px; border:1px solid #ccc;">
        @ViewBag.Message
    </div>
}

<form method="post" asp-action="Login">
    <div>
        <label>Email</label><br />
        <input asp-for="Email" />
    </div>

    <br />

    <div>
        <label>Password</label><br />
        <input asp-for="Password" type="password" />
    </div>

    <br />

    <button type="submit">Iniciar sesión</button>
</form>

<br />

<a asp-controller="Auth" asp-action="Register">
    Registrarse
</a>