<h2>Subir evidencia</h2>

<form method="post" enctype="multipart/form-data">

    <div class="mb-3">
        <label>Misión ID</label>
        <input type="number"
               name="misionId"
               class="form-control" />
    </div>

    <div class="mb-3">
        <input type="file"
               name="imagen"
               class="form-control" />
    </div>

    <button class="btn btn-success">
        Subir
    </button>

</form>